body {
    height: 100%;
    position: relative;
    background-image: url("../public/4k-movie-projector-free-photo.webp");
    color: antiquewhite;
    font-size: 20px;
}
.main_container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}
h1 {
    text-align: center;  
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.movie_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#year::before {
    content: 'Release Year: ';
    font-weight: 700;
}

#type::before {
    content: 'Type: ';
    font-weight: 700;
}

.card {
    box-shadow: 3px 10px 19px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 10px 19px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 10px 19px -6px rgba(0, 0, 0, 0.75);
}
.card-base {
    width: 19rem;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search {
    display: block;
    margin: auto;
    width:100%;

}
input{
    height: 30px;
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 5px;
}

.not_find {
    display: grid;
    place-items: center;
    color: antiquewhite;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .search {
        display: block;
        margin: auto;
        width: 100%;
    }
    .movie_list{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    input {
        width: 100%;
        height: 30px;
    }
}
@media screen and (min-width:992px) {
    .search {
        display: block;
        margin: auto;
        width: 100%;
    }
    
}